.uploadForm {
  background-color: #eacdff;
  width: 100%;
  height: 14.9rem;
  border-radius: 2.5rem;
  display: grid;
  place-items: center;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.active {
  background-color: #d4fae6;
}

.uploaded {
  background-color: #fce2ff;
  border: 1px solid #201b10;
}

.uploadCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.wrongBorder {
  border: 1px solid #ff5f00;
}

.statusMessage {
  margin: 0 0 0 0;
  font-size: 2.2rem;
  letter-spacing: -0.02rem;
  color: #201b10;
}

.statusMessageError {
  color: #ff5f00;
}
